* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 20%;

}

.panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    min-width: 500px;
    height: 85vh;
    font-family: arial;
    align-content: space-between;
    color: white;


}

.result {
    flex-basis: 100%;
    background-color: darkcyan;
    height: 15vh;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    font-size: 10vh;
    padding-right: 35px;
}

div.result~div {
    flex-basis: 30%;
    height: 10vh;
    font-size: 5vh;
    line-height: 10vh;
    background-color: black;
    cursor: pointer;
    text-align: center;
    transition: .2s;
}

div.panel>.result~div:hover {
    background-color: white;
    color: black;
    border: 3px solid black;
    font-weight: 900;
}

div>div:nth-last-child(1),
div>div:nth-last-child(2) {
    flex-basis: 45%;
}